{
  "openapi": "3.0.2",
  "info": {
    "title": "Deepvue.tech Developers' Guide",
    "description": "Deepvue.tech's APIs and SDKs are a No-Code Solution to Document Digitization and Verification for Businesses.",
    "version": "v1",
    "x-logo": {
      "url": "https://deepvue.tech/wp-content/uploads//2022/01/deepvue-logo1-1.svg"
    }
  },
  "servers": [
    {
      "url": "https://production.deepvue.tech"
    }
  ],
  "security": [
    {
      "BearerAuth": [],
      "ApiKeyAuth": [],
      "ClientIdAuth": []
    }
  ],
  "paths": {
    "/v1/verification/pan-msme-check": {
      "get": {
        "tags": [
          "MSME APIs"
        ],
        "summary": "Pan Msme Check",
        "description": "The PAN-MSME Check API gives information whether there is an MSME registered against a particular business PAN and whether or nor it's migrated to latest Udyam Portal.",
        "operationId": "pan_msme_check_v1_verification_pan_msme_check_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Pan Number",
              "type": "string"
            },
            "name": "pan_number",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 200 Pan Msme Check V1 Verification Pan Msme Check Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_PAN_MSME_CHECK_SUCCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_PAN_MSME_NOT_FOUND"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_PANCARD_NUMBER"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 Pan Msme Check V1 Verification Pan Msme Check Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_UNAUTHENTICATED_ACCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_AUTHORIZATION_FAILURE"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 Pan Msme Check V1 Verification Pan Msme Check Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_ACCESS_FORBIDDEN"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_PAN_PATTERN"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 500 Pan Msme Check V1 Verification Pan Msme Check Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_INTERNAL_SERVER_ERROR"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_SOURCE_FAILURE"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/verification/gstin/gstin-by-pan/batch": {
      "post": {
        "tags": [
          "GST APIs"
        ],
        "summary": "Bulk Search Taxpayer By Pan",
        "description": "Use this API to do perform gstin search by pan in bulk. This is an async verification request. Results once processed are sent over a webhook that's registered for your account.",
        "operationId": "bulk_search_taxpayer_by_pan_v1_verification_gstin_gstin_by_pan_batch_post",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Webhook Url",
              "type": "string"
            },
            "name": "webhook_url",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_bulk_search_taxpayer_by_pan_v1_verification_gstin_gstin_by_pan_batch_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_BATCH_VERIFICATION_INITIATED_SUCCESSFULLY"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 Bulk Search Taxpayer By Pan V1 Verification Gstin Gstin By Pan Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_INACTIVE_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BAD_REQUEST"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 Bulk Search Taxpayer By Pan V1 Verification Gstin Gstin By Pan Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_UNAUTHENTICATED_ACCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_AUTHORIZATION_FAILURE"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 Bulk Search Taxpayer By Pan V1 Verification Gstin Gstin By Pan Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_ACCESS_FORBIDDEN"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 422 Bulk Search Taxpayer By Pan V1 Verification Gstin Gstin By Pan Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_FILE_FORMAT_NOT_SUPPORTED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_VERIFICATION_LIMIT_EXCEEDED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_PAN_NUMBER_BATCH_FILE_CONTENT_NOT_SUPPORTED"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/verification/gstin-advanced/batch": {
      "post": {
        "tags": [
          "GST APIs"
        ],
        "summary": "Bulk Gstin Advanced Verification",
        "description": "Use this API to do perform gstin advanced verification in bulk. This is an async verification request. Results once processed are sent over a webhook that's registered for your account.",
        "operationId": "bulk_gstin_advanced_verification_v1_verification_gstin_advanced_batch_post",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Webhook Url",
              "type": "string"
            },
            "name": "webhook_url",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_bulk_gstin_advanced_verification_v1_verification_gstin_advanced_batch_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_BATCH_VERIFICATION_INITIATED_SUCCESSFULLY"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 Bulk Gstin Advanced Verification V1 Verification Gstin Advanced Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_INACTIVE_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BAD_REQUEST"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 Bulk Gstin Advanced Verification V1 Verification Gstin Advanced Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_UNAUTHENTICATED_ACCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_AUTHORIZATION_FAILURE"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 Bulk Gstin Advanced Verification V1 Verification Gstin Advanced Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_ACCESS_FORBIDDEN"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 422 Bulk Gstin Advanced Verification V1 Verification Gstin Advanced Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_FILE_FORMAT_NOT_SUPPORTED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_VERIFICATION_LIMIT_EXCEEDED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_NUMBER_BATCH_FILE_CONTENT_NOT_SUPPORTED"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/verification/upi-basic/batch": {
      "post": {
        "tags": [
          "KYC APIs"
        ],
        "summary": "Upi Basic Verification Batch",
        "description": "Use this API to do perform upi basic verification in bulk. This is an async verification request. Results once processed are sent over a webhook that's registered for your account.",
        "operationId": "upi_basic_verification_batch_v1_verification_upi_basic_batch_post",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Webhook Url",
              "type": "string"
            },
            "name": "webhook_url",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upi_basic_verification_batch_v1_verification_upi_basic_batch_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_BATCH_VERIFICATION_INITIATED_SUCCESSFULLY"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 Upi Basic Verification Batch V1 Verification Upi Basic Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_INACTIVE_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BAD_REQUEST"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 Upi Basic Verification Batch V1 Verification Upi Basic Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_UNAUTHENTICATED_ACCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_AUTHORIZATION_FAILURE"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 Upi Basic Verification Batch V1 Verification Upi Basic Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_ACCESS_FORBIDDEN"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 422 Upi Basic Verification Batch V1 Verification Upi Basic Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_FILE_FORMAT_NOT_SUPPORTED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_VERIFICATION_LIMIT_EXCEEDED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_UPI_NUMBER_BATCH_FILE_CONTENT_NOT_SUPPORTED"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/verification/mca/cin/batch": {
      "post": {
        "tags": [
          "MCA APIs"
        ],
        "summary": "Cin Verification Batch",
        "description": "Use this API to do perform Cin verification in bulk. This is an async verification request. Results once processed are sent over a webhook that's registered for your account.",
        "operationId": "Cin_Verification_Batch_v1_verification_mca_cin_batch_post",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Webhook Url",
              "type": "string"
            },
            "name": "webhook_url",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_Cin_Verification_Batch_v1_verification_mca_cin_batch_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_BATCH_VERIFICATION_INITIATED_SUCCESSFULLY"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 Cin Verification Batch V1 Verification Mca Cin Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_INACTIVE_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BAD_REQUEST"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 Cin Verification Batch V1 Verification Mca Cin Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_UNAUTHENTICATED_ACCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_AUTHORIZATION_FAILURE"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 Cin Verification Batch V1 Verification Mca Cin Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_ACCESS_FORBIDDEN"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 422 Cin Verification Batch V1 Verification Mca Cin Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_FILE_FORMAT_NOT_SUPPORTED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_VERIFICATION_LIMIT_EXCEEDED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_CIN_BATCH_FILE_CONTENT_NOT_SUPPORTED"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mobile-intelligence/mobile-to-pan/batch": {
      "post": {
        "tags": [
          "Mobile Forensics"
        ],
        "summary": "Mobile To Pan Batch",
        "description": "Use this API to do mobile to pan in bulk. This is an async verification request. Results once processed are sent over a webhook that's registered for your account.",
        "operationId": "mobile_to_pan_batch_v1_mobile_intelligence_mobile_to_pan_batch_post",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Webhook Url",
              "type": "string"
            },
            "name": "webhook_url",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_mobile_to_pan_batch_v1_mobile_intelligence_mobile_to_pan_batch_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_BATCH_VERIFICATION_INITIATED_SUCCESSFULLY"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 Mobile To Pan Batch V1 Mobile Intelligence Mobile To Pan Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_INACTIVE_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BAD_REQUEST"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 Mobile To Pan Batch V1 Mobile Intelligence Mobile To Pan Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_UNAUTHENTICATED_ACCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_AUTHORIZATION_FAILURE"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 Mobile To Pan Batch V1 Mobile Intelligence Mobile To Pan Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_ACCESS_FORBIDDEN"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 422 Mobile To Pan Batch V1 Mobile Intelligence Mobile To Pan Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_FILE_FORMAT_NOT_SUPPORTED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_VERIFICATION_LIMIT_EXCEEDED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_MOBILE_NUMBER_BATCH_FILE_CONTENT_NOT_SUPPORTED"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mobile-intelligence/mobile-to-vehicle-rc": {
      "get": {
        "tags": [
          "Mobile Forensics"
        ],
        "summary": "Mobile To Vehicle Rc",
        "description": "Use this API to find vehicle registration linked to a given mobile number.",
        "operationId": "mobile_to_vehicle_rc_v1_mobile_intelligence_mobile_to_vehicle_rc_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Mobile Number",
              "type": "string"
            },
            "name": "mobile_number",
            "in": "query"
          }
        ],
        "responses": {
  "200": {
    "description": "Successful Response",
    "content": {
      "application/json": {
        "schema": {},
        "examples": {
          "200 - RC Numbers Fetched Successfully": {
            "summary": "Vehicle RC numbers fetched successfully",
            "value": {
              "code": 200,
              "timestamp": 1751614096035,
              "transaction_id": "a7fed53ba22740cd9bcebd04f5ee6dce",
              "sub_code": "SUCCESS",
              "message": "Vehicle RC Numbers fetched successfully.",
              "data": {
                "rc_number": [
                  "MH02XXXXXX",
                  "MH02XXXXXX",
                  "MH02XXXXXX"
                ]
              }
            }
          },
          "200 - No Matching Record": {
            "summary": "No matching record found",
            "value": {
              "code": 200,
              "timestamp": 1751796599834,
              "transaction_id": "95b62ee097b747b093b0402717469235",
              "sub_code": "NO_MATCHING_RECORD",
              "message": "No record found"
            }
          }
        }
      }
    }
  },

  "400": {
    "description": "Bad Request",
    "content": {
      "application/json": {
        "examples": {
          "400 - Inactive Client": {
            "summary": "Inactive client",
            "value": {
              "detail": "Inactive client_id"
            }
          }
        }
      }
    }
  },

  "401": {
    "description": "Unauthorized",
    "content": {
      "application/json": {
        "examples": {
          "401 - Not Authenticated": {
            "summary": "Not authenticated",
            "value": {
              "detail": "Not authenticated"
            }
          }
        }
      }
    }
  },

  "403": {
    "description": "Forbidden",
    "content": {
      "application/json": {
        "examples": {
          "403 - Invalid Token": {
            "summary": "Invalid token",
            "value": {
              "detail": "Not a valid token"
            }
          }
        }
      }
    }
  },

  "422": {
    "description": "Validation Error",
    "content": {
      "application/json": {
        "schema": {
          "$ref": "#/components/schemas/HTTPValidationError"
        },
        "examples": {
          "422 - Invalid Mobile Number Pattern": {
            "summary": "Invalid mobile number pattern",
            "value": {
              "code": 422,
              "timestamp": 1738036065229,
              "transaction_id": "ae46cffd4e4647589749bcf05175a209",
              "sub_code": "INVALID_MOBILE_NUMBER",
              "message": "Invalid Mobile Number Pattern"
            }
          }
        }
      }
    }
  },

  "500": {
    "description": "Internal Server Error",
    "content": {
      "application/json": {
        "examples": {
          "500 - Internal Server Error": {
            "summary": "Internal server error",
            "value": {
              "code": 500,
              "timestamp": null,
              "transaction_id": "string",
              "sub_code": "INTERNAL_SERVER_ERROR",
              "message": "Internal Server Error"
            }
          }
        }
      }
    }
  },

  "503": {
    "description": "Service Unavailable",
    "content": {
      "application/json": {
        "examples": {
          "503 - Source Unavailable": {
            "summary": "Source unavailable",
            "value": {
              "code": null,
              "timestamp": null,
              "transaction_id": "string",
              "message": "Source Unavailable"
            }
          }
        }
      }
    }
  }
}
      }
    },
    "/v1/business-compliance/fssai-verification": {
      "get": {
        "tags": [
          "Business Compliance"
        ],
        "summary": "Fssai Verification",
        "description": "This API is used to verify the FSSAI ID/License Number.",
        "operationId": "FSSAI_Verification_v1_business_compliance_fssai_verification_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Fssai Id",
              "type": "string"
            },
            "name": "fssai_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 200 Fssai Verification V1 Business Compliance Fssai Verification Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_FSSAI_ID_VERIFICATION_SUCCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_FSSAI_ID"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 Fssai Verification V1 Business Compliance Fssai Verification Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_UNAUTHENTICATED_ACCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_AUTHORIZATION_FAILURE"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 Fssai Verification V1 Business Compliance Fssai Verification Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_ACCESS_FORBIDDEN"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_FSSAI_ID_PATTERN"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 500 Fssai Verification V1 Business Compliance Fssai Verification Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_INTERNAL_SERVER_ERROR"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_SOURCE_FAILURE"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/business-compliance/shop-establishment-certificate": {
      "get": {
        "tags": [
          "Business Compliance"
        ],
        "summary": "Shop Establishment Certificate",
        "description": "This API is used to verify the Shop Establishment Certificate.",
        "operationId": "shop_establishment_certificate_v1_business_compliance_shop_establishment_certificate_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Certificate Number",
              "type": "string"
            },
            "name": "certificate_number",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "State Code",
              "type": "string"
            },
            "name": "state_code",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_SHOP_ESTABLISHMENT_VERIFICATION_SUCCESS"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 Shop Establishment Certificate V1 Business Compliance Shop Establishment Certificate Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_UNAUTHENTICATED_ACCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_AUTHORIZATION_FAILURE"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 Shop Establishment Certificate V1 Business Compliance Shop Establishment Certificate Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_ACCESS_FORBIDDEN"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 422 Shop Establishment Certificate V1 Business Compliance Shop Establishment Certificate Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_STATE_CODE"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_VERIFICATION_FAILED"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 500 Shop Establishment Certificate V1 Business Compliance Shop Establishment Certificate Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_INTERNAL_SERVER_ERROR"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_SOURCE_FAILURE"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/business-compliance/pan-to-din": {
      "get": {
        "tags": [
          "Business Compliance"
        ],
        "summary": "Pan To Din",
        "description": "This API is used to verify the PAN Number.",
        "operationId": "pan_to_din_v1_business_compliance_pan_to_din_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Pan Number",
              "type": "string"
            },
            "name": "pan_number",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 200 Pan To Din V1 Business Compliance Pan To Din Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_PAN_TO_DIN_SUCCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_PAN_OR_DIN_NOT_FOUND"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_PAN_PATTERN"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 Pan To Din V1 Business Compliance Pan To Din Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_UNAUTHENTICATED_ACCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_AUTHORIZATION_FAILURE"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 Pan To Din V1 Business Compliance Pan To Din Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_ACCESS_FORBIDDEN"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 500 Pan To Din V1 Business Compliance Pan To Din Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_INTERNAL_SERVER_ERROR"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_SOURCE_FAILURE"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/business-compliance/din-to-pan": {
      "get": {
        "tags": [
          "Business Compliance"
        ],
        "summary": "Din To Pan",
        "description": "This API is used to verify the DIN Number.",
        "operationId": "din_to_pan_v1_business_compliance_din_to_pan_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Din Number",
              "type": "string"
            },
            "name": "din_number",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 200 Din To Pan V1 Business Compliance Din To Pan Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_DIN_TO_PAN_SUCCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_DIN_OR_PAN_NOT_FOUND"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_DIN_PATTERN"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 Din To Pan V1 Business Compliance Din To Pan Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_UNAUTHENTICATED_ACCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_AUTHORIZATION_FAILURE"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 Din To Pan V1 Business Compliance Din To Pan Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_ACCESS_FORBIDDEN"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 500 Din To Pan V1 Business Compliance Din To Pan Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_INTERNAL_SERVER_ERROR"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_SOURCE_FAILURE"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/business-compliance/msme-migration-status": {
      "get": {
        "tags": [
          "Business Compliance"
        ],
        "summary": "Msme Migration Status",
        "description": "This API is used to get the MSME Migration Status.",
        "operationId": "msme_migration_status_v1_business_compliance_msme_migration_status_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Pan Number",
              "type": "string"
            },
            "name": "pan_number",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_MSME_MIGRATION_STATUS_SUCCESS"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_PAN_PATTERN"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 Msme Migration Status V1 Business Compliance Msme Migration Status Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_UNAUTHENTICATED_ACCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_AUTHORIZATION_FAILURE"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 Msme Migration Status V1 Business Compliance Msme Migration Status Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_ACCESS_FORBIDDEN"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 500 Msme Migration Status V1 Business Compliance Msme Migration Status Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_INTERNAL_SERVER_ERROR"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_SOURCE_FAILURE"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/business-compliance/msme-migration-status/batch": {
      "post": {
        "tags": [
          "Business Compliance"
        ],
        "summary": "Msme Migration Status Batch",
        "description": "Use this API to perform MSME Migration Status in bulk. This is an async verification request. Results once processed are sent over a webhook that's registered for your account.",
        "operationId": "msme_migration_status_batch_v1_business_compliance_msme_migration_status_batch_post",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Webhook Url",
              "type": "string"
            },
            "name": "webhook_url",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_msme_migration_status_batch_v1_business_compliance_msme_migration_status_batch_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial-services/credit-bureau/credit-report": {
      "get": {
        "tags": [
          "Financial Services"
        ],
        "summary": "Credit Report",
        "description": "Credit Bureau is an agency that collects information related to the credit ratings of individuals and makes it available to financial companies, banks, and other legal authorities.\n\nThe Credit Report API gives information about a person's credit. It fetches credit reports using detailed parameters.   \nOur partner bureaus - Equifax and more in the pipeline.",
        "operationId": "credit_report_v1_financial_services_credit_bureau_credit_report_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Full Name",
              "type": "string"
            },
            "name": "full_name",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Pan Number",
              "type": "string"
            },
            "name": "pan_number",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Mobile Number",
              "type": "string"
            },
            "name": "mobile_number",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Consent",
              "type": "string"
            },
            "name": "consent",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Purpose",
              "type": "string"
            },
            "name": "purpose",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Generate Pdf",
              "type": "boolean",
              "default": false
            },
            "name": "generate_pdf",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 200 Credit Report V1 Financial Services Credit Bureau Credit Report Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_CREDIT_REPORT"
                    },
                    {
                      "$ref": "#/components/schemas/CREDIT_REPORT_NO_RECORD"
                    },
                    {
                      "$ref": "#/components/schemas/INVALID_PAN_PLUS"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 Credit Report V1 Financial Services Credit Bureau Credit Report Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_INACTIVE_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BAD_REQUEST"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 Credit Report V1 Financial Services Credit Bureau Credit Report Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_UNAUTHENTICATED_ACCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_AUTHORIZATION_FAILURE"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 Credit Report V1 Financial Services Credit Bureau Credit Report Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_ACCESS_FORBIDDEN"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_PATTERN"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 500 Credit Report V1 Financial Services Credit Bureau Credit Report Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/CREDIT_REPORT_FAILED_AT_SOURCE"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INTERNAL_SERVER_ERROR"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/verification/epfo/uan-to-employment-history": {
      "get": {
        "tags": [
          "EPFO"
        ],
        "summary": "Uan To Employment History",
        "description": "API to fetch the Employment History of the user linked with the UAN number.",
        "operationId": "Uan_To_Employment_History_v1_verification_epfo_uan_to_employment_history_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Uan Number",
              "type": "string"
            },
            "name": "uan_number",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_UAN_TO_EMPLOYMENT_HISTORY_SUCCESS"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 Uan To Employment History V1 Verification Epfo Uan To Employment History Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_INACTIVE_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BAD_REQUEST"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 Uan To Employment History V1 Verification Epfo Uan To Employment History Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_UNAUTHENTICATED_ACCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_AUTHORIZATION_FAILURE"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 Uan To Employment History V1 Verification Epfo Uan To Employment History Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_ACCESS_FORBIDDEN"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_INVALID_UAN_NUMBER"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 500 Uan To Employment History V1 Verification Epfo Uan To Employment History Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/DEEPVUE_INTERNAL_SERVER_ERROR"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_SOURCE_FAILURE"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/verification/epfo/uan-to-employment-history/batch": {
      "post": {
        "tags": [
          "EPFO"
        ],
        "summary": "Uan To Employment History Batch",
        "description": "Use this API to do perform UAN to Employment History in bulk. This is an async verification request. Results once processed are sent over a webhook that's registered for your account.",
        "operationId": "Uan_To_Employment_History_Batch_v1_verification_epfo_uan_to_employment_history_batch_post",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Webhook Url",
              "type": "string"
            },
            "name": "webhook_url",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_Uan_To_Employment_History_Batch_v1_verification_epfo_uan_to_employment_history_batch_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_BATCH_VERIFICATION_INITIATED_SUCCESSFULLY"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 Uan To Employment History Batch V1 Verification Epfo Uan To Employment History Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_INACTIVE_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BAD_REQUEST"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 Uan To Employment History Batch V1 Verification Epfo Uan To Employment History Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_UNAUTHENTICATED_ACCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_AUTHORIZATION_FAILURE"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 Uan To Employment History Batch V1 Verification Epfo Uan To Employment History Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_ACCESS_FORBIDDEN"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 422 Uan To Employment History Batch V1 Verification Epfo Uan To Employment History Batch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_FILE_FORMAT_NOT_SUPPORTED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_VERIFICATION_LIMIT_EXCEEDED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_UAN_NUMBER_BATCH_FILE_CONTENT_NOT_SUPPORTED"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/verification/mnrl/verify": {
      "get": {
        "tags": [
          "MNRL APIs"
        ],
        "summary": "Verify Mobile Number",
        "description": "Verify mobile number using MNRL API.",
        "operationId": "verify_mobile_number_v1_verification_mnrl_verify_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Mobile Number",
              "type": "string"
            },
            "name": "mobile_number",
            "in": "query"
          }
        ],
        "responses": {
  "200": {
    "description": "Successful Response",
    "content": {
      "application/json": {
        "schema": {
          "$ref": "#/components/schemas/RESPONSE_BATCH_VERIFICATION_INITIATED_SUCCESSFULLY"
        },
        "examples": {
          "200 - Latest MNRL Record Found": {
            "summary": "Latest MNRL record found",
            "value": {
              "code": 200,
              "timestamp": 1742331301024,
              "transaction_id": "e1537caeafa147fa8965f40842e70192",
              "sub_code": "LATEST_MNRL_RECORD_FOUND",
              "message": "MNRL record found",
              "data": {
                "mnrl_record_found": true,
                "phone_number": "6000014143",
                "latest_revocation_status": true,
                "first_revocation_month": "September",
                "first_revocation_year": 2024,
                "latest_revocation_month": "January",
                "latest_revocation_year": 2025
              }
            }
          },
          "200 - MNRL Record Found": {
            "summary": "MNRL record found",
            "value": {
              "code": 200,
              "timestamp": 1742331301024,
              "transaction_id": "e1537caeafa147fa8965f40842e70192",
              "sub_code": "MNRL_RECORD_FOUND",
              "message": "MNRL record found",
              "data": {
                "mnrl_record_found": true,
                "phone_number": "6000014143",
                "latest_revocation_status": false,
                "first_revocation_month": "September",
                "first_revocation_year": 2024,
                "latest_revocation_month": "September",
                "latest_revocation_year": 2024
              }
            }
          },
          "200 - No MNRL Record Found": {
            "summary": "No MNRL record found",
            "value": {
              "code": 200,
              "timestamp": 1742331301024,
              "transaction_id": "e1537caeafa147fa8965f40842e70192",
              "sub_code": "NO_MNRL_RECORD_FOUND",
              "message": "MNRL record not found",
              "data": {
                "mnrl_record_found": false,
                "phone_number": "9999999999",
                "latest_revocation_status": false,
                "first_revocation_month": null,
                "first_revocation_year": null,
                "latest_revocation_month": null,
                "latest_revocation_year": null
              }
            }
          }
        }
      }
    }
  },

  "400": {
    "description": "Bad Request",
    "content": {
      "application/json": {
        "examples": {
          "400 - Inactive Client": {
            "summary": "Inactive client",
            "value": {
              "detail": "Inactive client_id"
            }
          }
        }
      }
    }
  },

  "401": {
    "description": "Unauthorized",
    "content": {
      "application/json": {
        "examples": {
          "401 - Not Authenticated": {
            "summary": "Not authenticated",
            "value": {
              "detail": "Not authenticated"
            }
          }
        }
      }
    }
  },

  "403": {
    "description": "Forbidden",
    "content": {
      "application/json": {
        "examples": {
          "403 - Invalid Token": {
            "summary": "Invalid token",
            "value": {
              "detail": "Not a valid token"
            }
          }
        }
      }
    }
  },

  "500": {
    "description": "Internal Server Error",
    "content": {
      "application/json": {
        "examples": {
          "500 - Internal Server Error": {
            "summary": "Internal server error",
            "value": {
              "code": 500,
              "timestamp": null,
              "transaction_id": "string",
              "sub_code": "INTERNAL_SERVER_ERROR",
              "message": "Internal Server Error"
            }
          }
        }
      }
    }
  },

  "503": {
    "description": "Service Unavailable",
    "content": {
      "application/json": {
        "examples": {
          "503 - Source Unavailable": {
            "summary": "Source unavailable",
            "value": {
              "code": null,
              "timestamp": null,
              "transaction_id": "string",
              "message": "Source Unavailable"
            }
          }
        }
      }
    }
  }
}
      }
    },
    "/v1/bsa/usage": {
      "get": {
        "tags": [
          "Bank Statement Analysis"
        ],
        "summary": "Get Bsa List",
        "operationId": "get_bsa_list_v1_bsa_usage_get",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Page",
              "type": "integer",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page Size",
              "type": "integer",
              "default": 10
            },
            "name": "page_size",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bsa/banks-list": {
      "get": {
        "tags": [
          "Bank Statement Analysis"
        ],
        "summary": "Get Bsa Banks List",
        "operationId": "get_bsa_banks_list_v1_bsa_banks_list_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/bsa/upload": {
      "post": {
        "tags": [
          "Bank Statement Analysis"
        ],
        "summary": "Upload File",
        "operationId": "upload_file_v1_bsa_upload_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_file_v1_bsa_upload_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bsa/download-report": {
      "get": {
        "tags": [
          "Bank Statement Analysis"
        ],
        "summary": "Get Download Report",
        "operationId": "get_download_report_v1_bsa_download_report_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Reference Id",
              "type": "string"
            },
            "name": "reference_id",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ReportTypeEnum"
                }
              ],
              "default": "json"
            },
            "name": "report_type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bsa/dv-sm/webhook": {
      "post": {
        "tags": [
          "Bank Statement Analysis"
        ],
        "summary": "Webhook Handler",
        "description": "Webhook handler for receiving notifications from the BSA service.\n\nExample payload:\n{\n    'data': {\n        'jsonUrl': 'https://sm-bsa.scoreme.in/bsa/external/bsaReportDownload?file=e1547c22-470c-4449-bfe5-6b1606551054_BSA_Report.json',\n        'excelUrl': 'https://sm-bsa.scoreme.in/bsa/external/bsaReportDownload?file=e1547c22-470c-4449-bfe5-6b1606551054_BSA_Report.xlsx',\n        'referenceId': 'e1547c22-470c-4449-bfe5-6b1606551054'\n    },\n    'responseMessage': 'Successfully Completed.',\n    'responseCode': 'SRC001'\n}",
        "operationId": "webhook_handler_v1_bsa_dv_sm_webhook_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Data",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/client/usage-report": {
      "get": {
        "summary": "Generate User Usage Report",
        "operationId": "generate_user_usage_report_v1_client_usage_report_get",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Generate Excel",
              "type": "boolean",
              "default": false
            },
            "name": "generate_excel",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Since Date",
              "type": "string"
            },
            "name": "since_date",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Until Date",
              "type": "string"
            },
            "name": "until_date",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/authorize": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Authorize",
        "operationId": "authorize_v1_authorize_post",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Body_authorize_v1_authorize_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_AUTHORIZATION_FAILURE"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_ACCESS_FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_INTERNAL_SERVER_ERROR"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X 'POST' \\\n  'https://production.deepvue.tech/v1/authorize' \\\n  -H 'accept: application/json' \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -d 'client_id=CLIENT_ID&client_secret=YOUR API KEY'",
            "label": "curl"
          },
          {
            "lang": "Java - OkHttp",
            "source": "OkHttpClient client = new OkHttpClient().newBuilder()\n    .build();\nMediaType mediaType = MediaType.parse(\"text/plain\");\nRequestBody body = new MultipartBody.Builder().setType(MultipartBody.FORM)\n    .addFormDataPart(\"client_secret\",\"YOUR API KEY\")\n    .addFormDataPart(\"client_id\",\"CLIENT_ID\")\n    .build();\nRequest request = new Request.Builder()\n    .url(\"https://production.deepvue.tech/v1/authorize\")\n    .method(\"POST\", body)\n    .build();\nResponse response = client.newCall(request).execute();",
            "label": "java"
          },
          {
            "lang": "Python",
            "source": "import requests\nurl = \"https://production.deepvue.tech/v1/authorize\"\nheaders = {'Content-Type': 'application/x-www-form-urlencoded'}\npayload = {'client_id': \"YOUR CLIENT_ID\",'client_secret': \"YOUR API KEY\"}\nresponse = requests.post(url, headers=headers, data=payload)\nprint(response.json())",
            "label": "python"
          }
        ]
      }
    },
    "/v1/facematch": {
      "post": {
        "tags": [
          "Face Forensics"
        ],
        "summary": "Face Match",
        "description": "Deepvue.tech Realtime Facematch API lets you compare faces present in two different documents, within seconds.   \nTwo files required for this API can be images of two id-cards or one id-card and a selfie.   \n\nThis API performs a realtime AI-based face recognition and matching in the background,    \nreturns back with whether two faces match or not and a corresponding *confidence* value of the match.",
        "operationId": "Face_Match_v1_facematch_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_Face_Match_v1_facematch_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_IDENTITY_FACEMATCH_VERIFICATION"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 Face Match V1 Facematch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_INACTIVE_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BAD_REQUEST"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 Face Match V1 Facematch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_UNAUTHENTICATED_ACCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_AUTHORIZATION_FAILURE"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 Face Match V1 Facematch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_ACCESS_FORBIDDEN"
                    }
                  ]
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 415 Face Match V1 Facematch Post",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_IDENTITY_FACEMATCH_NOFACE"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_IDENTITY_FACEMATCH_ERROR"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_INTERNAL_SERVER_ERROR"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X 'POST' \\\n  'https://production.deepvue.tech/v1/facematch' \\\n  -H 'accept: application/json' \\\n  -H 'Content-Type: multipart/form-data' \\\n  -H 'Authorization: Bearer <ACCESS_TOKEN>' \\\n  -H 'x-api-key: YOUR API KEY' \\\n  -F 'file_a=@your-file-a.jpg;type=image/jpeg' \\\n  -F 'file_b=@your-file-b.jpg;type=image/jpeg'",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nurl = \"https://production.deepvue.tech/v1/facematch\"\nheaders = {\"Authorization\":\"Bearer <ACCESS_TOKEN>\", \"x-api-key\":\"YOUR API KEY\"}\nfile = {'file_a': open('your-file-a.jpg','rb'),'file_b': open('your-file-b.jpg','rb')}\nresponse = requests.post(url, headers=headers, files=file)\nprint(response.json())",
            "label": "python"
          }
        ]
      }
    },
    "/v1/aa/EncryptConsentRequest": {
      "post": {
        "tags": [
          "Account Aggregator"
        ],
        "summary": "Encrypt Consent Request",
        "operationId": "Encrypt_Consent_Request_v1_aa_EncryptConsentRequest_post",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Cust Id",
              "type": "string"
            },
            "name": "cust_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/aa/CheckConsentStatus": {
      "get": {
        "tags": [
          "Account Aggregator"
        ],
        "summary": "Check Consent Status",
        "operationId": "Check_Consent_Status_v1_aa_CheckConsentStatus_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Consent Handle Id",
              "type": "string"
            },
            "name": "consent_handle_id",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Cust Id",
              "type": "string"
            },
            "name": "cust_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/aa/FiDataRequest": {
      "post": {
        "tags": [
          "Account Aggregator"
        ],
        "summary": "Fi Data Request",
        "operationId": "FI_Data_Request_v1_aa_FiDataRequest_post",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Cust Id",
              "type": "string"
            },
            "name": "cust_id",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Consent Id",
              "type": "string"
            },
            "name": "consent_id",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Consent Handle Id",
              "type": "string"
            },
            "name": "consent_handle_id",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "From Epoch",
              "type": "string"
            },
            "name": "from_epoch",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "To Epoch",
              "type": "string"
            },
            "name": "to_epoch",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/aa/FiDataStatus": {
      "get": {
        "tags": [
          "Account Aggregator"
        ],
        "summary": "Fi Data Status",
        "operationId": "Fi_Data_Status_v1_aa_FiDataStatus_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Cust Id",
              "type": "string"
            },
            "name": "cust_id",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Consent Id",
              "type": "string"
            },
            "name": "consent_id",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Consent Handle Id",
              "type": "string"
            },
            "name": "consent_handle_id",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Session Id",
              "type": "string"
            },
            "name": "session_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ekyc/aadhaar/connect": {
      "get": {
        "tags": [
          "Offline Aadhaar eKYC"
        ],
        "summary": "Initiate Session",
        "description": "This API allows to initiate a session with UIDAI to fetch Captcha before passing the Aadhaar number of the customer. \n    ",
        "operationId": "Initiate_Session_v1_ekyc_aadhaar_connect_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Consent",
              "type": "string"
            },
            "name": "consent",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Purpose",
              "type": "string"
            },
            "name": "purpose",
            "in": "query"
          }
        ],
        "responses": {
  "200": {
    "description": "Successful Response",
    "content": {
      "application/json": {
        "schema": {
          "$ref": "#/components/schemas/RESPONSE_AADHAAR_INITIATE_SESSION_SUCCESSFUL"
        },
        "examples": {
          "200 - Session Initiated Successfully": {
            "summary": "Session initiated with captcha",
            "value": {
              "code": 200,
              "timestamp": 1738303175394,
              "transaction_id": "f5d8e48f477f4116967a6be4d97a7769",
              "data": {
                "session_id": "17568923be1441a9b05c7af693e92aa5",
                "captcha": "/9j/4AAQSkZJRgABAQAAAQABAAD/..."
              }
            }
          }
        }
      }
    }
  },

  "400": {
    "description": "Bad Request",
    "content": {
      "application/json": {
        "schema": {
          "$ref": "#/components/schemas/RESPONSE_BAD_REQUEST"
        },
        "examples": {
          "400 - Inactive Client": {
            "summary": "Inactive client_id",
            "value": {
              "detail": "Inactive client_id"
            }
          }
        }
      }
    }
  },

  "401": {
    "description": "Unauthorized",
    "content": {
      "application/json": {
        "schema": {
          "$ref": "#/components/schemas/RESPONSE_UNAUTHENTICATED_ACCESS"
        },
        "examples": {
          "401 - Not Authenticated": {
            "summary": "Missing or invalid authentication",
            "value": {
              "detail": "Not authenticated"
            }
          }
        }
      }
    }
  },

  "403": {
    "description": "Forbidden",
    "content": {
      "application/json": {
        "schema": {
          "$ref": "#/components/schemas/RESPONSE_ACCESS_FORBIDDEN"
        },
        "examples": {
          "403 - Invalid Token": {
            "summary": "Token is invalid or expired",
            "value": {
              "detail": "Not a valid token"
            }
          }
        }
      }
    }
  },

  "422": {
    "description": "Validation Error",
    "content": {
      "application/json": {
        "schema": {
          "$ref": "#/components/schemas/HTTPValidationError"
        },
        "examples": {
          "422 - Validation Error": {
            "summary": "Request validation failed",
            "value": {
              "detail": [
                {
                  "loc": ["string"],
                  "msg": "string",
                  "type": "string"
                }
              ]
            }
          }
        }
      }
    }
  },

  "500": {
    "description": "Internal Server Error",
    "content": {
      "application/json": {
        "schema": {
          "$ref": "#/components/schemas/RESPONSE_INTERNAL_SERVER_ERROR"
        },
        "examples": {
          "500 - Internal Server Error": {
            "summary": "Unexpected server error",
            "value": {
              "detail": "Internal Server Error"
            }
          }
        }
      }
    }
  },

  "503": {
    "description": "Service Unavailable",
    "content": {
      "application/json": {
        "schema": {
          "$ref": "#/components/schemas/RESPONSE_AADHAAR_SESSION_FALIURE"
        },
        "examples": {
          "503 - Unable To Create Session": {
            "summary": "Aadhaar service unavailable",
            "value": {
              "code": null,
              "timestamp": null,
              "transaction_id": "string",
              "message": "Unable to create a session"
            }
          }
        }
      }
    }
  }
},
        "security": [
          {
            "ApiKeyAuth": [],
            "ClientIdAuth": []
          }
        ]
      }
    },
    "/v1/ekyc/aadhaar/generate-otp": {
      "post": {
        "tags": [
          "Offline Aadhaar eKYC"
        ],
        "summary": "Generate Otp",
        "description": "This API will trigger OTP via UIDAI to Aadhaar registered mobile number.\n    ",
        "operationId": "Generate_OTP_v1_ekyc_aadhaar_generate_otp_post",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Aadhaar Number",
              "type": "string"
            },
            "name": "aadhaar_number",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Captcha",
              "type": "string"
            },
            "name": "captcha",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Session Id",
              "type": "string"
            },
            "name": "session_id",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Consent",
              "type": "string"
            },
            "name": "consent",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Purpose",
              "type": "string"
            },
            "name": "purpose",
            "in": "query"
          }
        ],
        "responses": {
  "200": {
    "description": "Successful Response",
    "content": {
      "application/json": {
        "schema": {
          "$ref": "#/components/schemas/RESPONSE_AADHAAR_OTP_SUCCESSFUL"
        },
        "examples": {
          "200 - OTP Sent Successfully": {
            "summary": "OTP sent to registered mobile number",
            "value": {
              "code": 200,
              "timestamp": 1738243998047,
              "transaction_id": "718e0fb212ed4c518398b96f4d09e58c",
              "sub_code": "SUCCESS",
              "message": "OTP sent to your Registered Mobile number. Check your mobile."
            }
          }
        }
      }
    }
  },

  "400": {
    "description": "Bad Request",
    "content": {
      "application/json": {
        "schema": {
          "$ref": "#/components/schemas/ERROR_RESPONSE"
        },
        "examples": {
          "400 - Invalid UID": {
            "summary": "Invalid UID",
            "value": {
[...]
